/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #f9f9f9;
   /* background: linear-gradient(135deg, #667eea, #764ba2); */
  color: #333;
  line-height: 1.6;
}

/* Navbar */
.navbar {
  background: #b92b27; /* Quora red */
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: 700;
}

.navbar .logo span {
  color: #fff176; /* gold highlight */
}

.btn {
  background: #fff;
  color: #b92b27;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: #fdd835;
  color: #000;
}

/* Container */
.container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem;
}

/* Post Card */
.post-card {
  background: white;
  padding: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  transition: 0.3s;
}

.post-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.1);
}

.user {
  font-weight: 600;
  color: #b92b27;
  margin-bottom: 0.5rem;
}

.content {
  font-size: 1rem;
  color: #444;
}


.btnn {
  display: inline-block;
  padding: 8px 14px;
  margin-top: 10px;
  background: #4338ca;  /* Indigo */
  color: white;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.btnn:hover {
  background: #4338ca;   /* Darker Indigo */
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}
